@inject IStringLocalizer<cloudscribe.PwaKit.PwaResources> sr
@{
    ViewData["Title"] = sr["Push Notification Settings"];
}

<h2>@ViewData["Title"]</h2>

<button class="btn btn-success" data-push-subscribe-button type="button">@sr["Subscribe to Push Notifications"]</button>
<button class="btn btn-warning" data-push-unsubscribe-button type="button">@sr["Unsubscribe from Push Notifications"]</button>

@*@section Scripts {
    <script src="/pwa/js/push-notifications-controller.js" asp-append-version="true"></script>
    <script src="/pwa/js/push-user-settings.js" asp-append-version="true"></script>
}*@

