@inject IStringLocalizer<cloudscribe.PwaKit.PwaResources> sr
@{
}
<div class="text-center">
    <button id="btnPwaInstall" type="button" class="btn btn-primary mb-2" style="display:none;">@sr["Install our web app for the best experience"]</button>
    <button class="btn btn-primary mb-2" data-push-subscribe-button type="button" style="display:none;">@sr["Enable push notifications so we can keep offline content up to date"]</button>
</div>


@*<div id="divPwaInstallPrompt" data-show-if-not-push-subscribed class="alert alert-primary alert-dismissible fade " style="display:none;" role="alert">


    </div>*@
