@inject IStringLocalizer<cloudscribe.PwaKit.PwaResources> sr
@{
}

<div id="divPwaInstallPrompt" class="alert alert-primary alert-dismissible fade " style="display:none;" role="alert">
    <h4>@sr["Access articles offline using our web app"]</h4>
    <button id="btnPwaInstall" type="button" class="btn btn-success">@sr["Install"]</button>
    
    @*<button id="pwaDismissButton" type="button" class="close" data-dismiss="alert" aria-label="@sr["Close"]">
        <span aria-hidden="true">&times;</span>
    </button>*@
</div>
